.jumbotron {
  background: #0065bd;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #b01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
.card-container {
  display: flex;
  flex-direction: column;
}
.card-content {
  text-align: center;
  color: black;
  background-color: #ffffff;
  margin: 20px;
  box-shadow: 5px 5px 10px black;
  /* width: 30rem; */
  /* height: 30rem; */
}
.logo {
  width: 5rem;
  height: 5rem;
}